<div class="main-dashboard">
    <div class="main-content">
        <header>
            <nav>
                <h3>EvoEvent</h3>
                <div class="actions">
                    <input type="text" placeholder="Search here..." [(ngModel)]="searchTerm" />
                    <button class="btn btn-primary profile-btn"></button>
                </div>
            </nav>
        </header>
        <!-- main content here -->
        <section class="content">
            <div class="main-heading">Events</div>
            <div class="sub-heading">View and manage every events of the future.</div>
        </section>

        <div class="event-list">
            @for(event of events; track event.id) {
            <div class="event-card">
                <img [src]="event.image" alt="{{ event.name }}" class="event-image" />
                <div class="event-details">
                    <h4>{{ event.name }}</h4>
                    <p>{{ event.date | date: 'longDate' }}</p>
                    <span class="category">{{ event.category }}</span>
                </div>
                <div class="event-actions">
                    <button class="btn btn-secondary" (click)="editEvent(event)">Edit</button>
                    <button class="btn btn-danger" (click)="deleteEvent(event)">Delete</button>
                </div>
            </div>}
            @empty(){
            <div class="no-content">
                <img src="assets /no-events.png" alt="No Events" class="no-content-image" />
                <p>No Event's to show yet! add new event here...</p>
                <button class="btn btn-primary" (click)="addNewEvent()">Add New Event</button>
            </div>
            }
        </div>
        @if(updateNewEvent) {
        <div class="model-overlay">
            <app-event-update (cancelEventUpdate)="recieveCancelEvent()"></app-event-update>
        </div>
        }
    </div>

</div>