<div class="main-form">
    <header>
        <h2>New Event</h2>
    </header>
    <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <input id="image" formControlName="image" type="file" />
        </div>
        <div class="form-group">
            <label for="name">Event Name</label>
            <input id="name" formControlName="name" type="text" />
        </div>
        <div class="form-group">
            <label for="date">Event Date</label>
            <input id="date" formControlName="date" type="date" accept="image/*" />
        </div>
        <div class="form-group">
            <label for="category">Event Category</label>
            <select id="category" formControlName="category">
                <option value="">Select a option</option>
                <option value="conference">Conference</option>
                <option value="workshop">Workshop</option>
                <option value="meetup">Meetup</option>
            </select>
        </div>
    </form>

    <div class="form-actions">
        <button type="cancel" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
        <button type="submit" class="btn btn-primary" [disabled]="eventForm.invalid">Save</button>
    </div>
</div>